In [80]:
import pandas as pd
dataframe2 = pd.read_csv("en_nta.txt", sep='\t')

In [81]:
dataframe2.columns = ["english_sentence"]

In [82]:
dataframe1 = pd.read_csv("id_nta.txt", sep='\t')

In [83]:
dataframe1.columns = ["Indonesian_sentence"]

In [88]:
dataframe1.head(1)

                    Indonesian_sentence
0  a. Pendirian Bank dan informasi umum

In [89]:
df = pd.concat([dataframe1, dataframe2], axis=1, join='inner')

In [90]:
df.head(1)

                    Indonesian_sentence                                      english_sentence
0  a. Pendirian Bank dan informasi umum  a. Establishment of the Bank and general information

In [91]:
import os
import string
from string import digits
import matplotlib.pyplot as plt
%matplotlib inline
import re
import seaborn as sns
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  from ipykernel import kernelapp as app

In [92]:
df.head(1)

                    Indonesian_sentence                                      english_sentence
0  a. Pendirian Bank dan informasi umum  a. Establishment of the Bank and general information

In [93]:
pd.isnull(df).sum()

Indonesian_sentence    0
english_sentence       0
dtype: int64

In [94]:
df=df[~pd.isnull(df['english_sentence'])]

In [95]:
df.drop_duplicates(inplace=True)

In [96]:
df=df.sample(n=2500,random_state=42)
df.shape

(2500, 2)

In [97]:
df['Indonesian_sentence']=df['Indonesian_sentence'].apply(lambda x: x.lower())
df['english_sentence']=df['english_sentence'].apply(lambda x: x.lower())

In [98]:
df['Indonesian_sentence']=df['Indonesian_sentence'].apply(lambda x: re.sub("'", '', x))
df['english_sentence']=df['english_sentence'].apply(lambda x: re.sub("'", '', x))

In [99]:
exclude = set(string.punctuation) 
df['Indonesian_sentence']=df['Indonesian_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
df['english_sentence']=df['english_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [101]:
remove_digits = str.maketrans('', '', digits)
df['Indonesian_sentence']=df['Indonesian_sentence'].apply(lambda x: x.translate(remove_digits))
df['english_sentence']=df['english_sentence'].apply(lambda x: x.translate(remove_digits))
df['english_sentence'] = df['english_sentence'].apply(lambda x: re.sub("[२३०८१५७९४६]", "", x))
df['Indonesian_sentence']=df['Indonesian_sentence'].apply(lambda x: x.strip())
df['english_sentence']=df['english_sentence'].apply(lambda x: x.strip())
df['Indonesian_sentence']=df['Indonesian_sentence'].apply(lambda x: re.sub(" +", " ", x))
df['english_sentence']=df['english_sentence'].apply(lambda x: re.sub(" +", " ", x))

In [102]:
df['english_sentence'] = df['english_sentence'].apply(lambda x : 'START_ '+ x + ' _END')

In [103]:
df.head(1)

                  Indonesian_sentence                             english_sentence
3089  a aset pajak tangguhan lanjutan  START_ a deferred tax assets continued _END

In [104]:
all_eng_words=set()
for eng in df['english_sentence']:
    for word in eng.split():
        if word not in all_eng_words:
            all_eng_words.add(word)

all_ind_words=set()
for ind in df['Indonesian_sentence']:
    for word in ind.split():
        if word not in all_ind_words:
            all_ind_words.add(word)

In [105]:
len(all_eng_words)

4612

In [106]:
len(all_ind_words)

4000

In [107]:
df['length_ind_sentence']=df['Indonesian_sentence'].apply(lambda x:len(x.split(" ")))
df['length_eng_sentence']=df['english_sentence'].apply(lambda x:len(x.split(" ")))

In [108]:
df.head(1)

                  Indonesian_sentence                             english_sentence  length_ind_sentence  length_eng_sentence
3089  a aset pajak tangguhan lanjutan  START_ a deferred tax assets continued _END  5                    7

In [109]:
df[df['length_ind_sentence']>30].shape

(754, 4)

In [110]:
df=df[df['length_eng_sentence']<=20]
df=df[df['length_ind_sentence']<=20]

In [111]:
df.shape

(1212, 4)

In [112]:
print("maximum length of Indonesian Sentence ",max(df['length_ind_sentence']))
print("maximum length of English Sentence ",max(df['length_eng_sentence']))

maximum length of Indonesian Sentence  20
maximum length of English Sentence  20

In [113]:
max_length_src=max(df['length_ind_sentence'])
max_length_tar=max(df['length_eng_sentence'])

In [114]:
input_words = sorted(list(all_ind_words))
target_words = sorted(list(all_eng_words))
num_encoder_tokens = len(all_ind_words)
num_decoder_tokens = len(all_eng_words)
num_encoder_tokens, num_decoder_tokens

(4000, 4612)

In [115]:
num_decoder_tokens += 1

In [116]:
input_token_index = dict([(word, i+1) for i, word in enumerate(input_words)])
target_token_index = dict([(word, i+1) for i, word in enumerate(target_words)])

In [117]:
reverse_input_char_index = dict((i, word) for word, i in input_token_index.items())
reverse_target_char_index = dict((i, word) for word, i in target_token_index.items())

In [118]:
df = shuffle(df)
df.head(2)

                    Indonesian_sentence                                            english_sentence  length_ind_sentence  length_eng_sentence
1759  giro pada bank indonesia lanjutan  START_ current accounts with bank indonesia continued _END  5                    8
1042  iv suratsurat berharga             START_ iv marketable securities _END                        3                    5

In [119]:
X, y = df['Indonesian_sentence'], df['english_sentence']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=42)
X_train.shape, X_test.shape

((969,), (243,))

In [120]:
X_train.to_pickle('X_train.pkl')
X_test.to_pickle('X_test.pkl')

In [121]:
def generate_batch(X = X_train, y = y_train, batch_size = 128):
    ''' Generate a batch of data '''
    while True:
        for j in range(0, len(X), batch_size):
            encoder_input_data = np.zeros((batch_size, max_length_src),dtype='float32')
            decoder_input_data = np.zeros((batch_size, max_length_tar),dtype='float32')
            decoder_target_data = np.zeros((batch_size, max_length_tar, num_decoder_tokens),dtype='float32')
            for i, (input_text, target_text) in enumerate(zip(X[j:j+batch_size], y[j:j+batch_size])):
                for t, word in enumerate(input_text.split()):
                    encoder_input_data[i, t] = input_token_index[word]
                for t, word in enumerate(target_text.split()):
                    if t<len(target_text.split())-1:
                        decoder_input_data[i, t] = target_token_index[word]
                    if t>0:
                        decoder_target_data[i, t - 1, target_token_index[word]] = 1.
            yield([encoder_input_data, decoder_input_data], decoder_target_data)

In [122]:
latent_dim=300

In [123]:
encoder_inputs = Input(shape=(None,))
enc_emb =  Embedding(num_encoder_tokens, latent_dim, mask_zero = True)(encoder_inputs)
encoder_lstm = LSTM(latent_dim, return_state=True)
encoder_outputs, state_h, state_c = encoder_lstm(enc_emb)
encoder_states = [state_h, state_c]

In [124]:
decoder_inputs = Input(shape=(None,))
dec_emb_layer = Embedding(num_decoder_tokens, latent_dim, mask_zero = True)
dec_emb = dec_emb_layer(decoder_inputs)
decoder_lstm = LSTM(latent_dim, return_sequences=True, return_state=True)
decoder_outputs, _, _ = decoder_lstm(dec_emb,
                                     initial_state=encoder_states)
decoder_dense = Dense(num_decoder_tokens, activation='softmax')
decoder_outputs = decoder_dense(decoder_outputs)
model = Model([encoder_inputs, decoder_inputs], decoder_outputs)

In [125]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [126]:
train_samples = len(X_train)
val_samples = len(X_test)
batch_size = 16
epochs = 50

In [127]:
import numpy as np

In [128]:
model.fit_generator(generator = generate_batch(X_train, y_train, batch_size = batch_size),
                    steps_per_epoch = train_samples//batch_size,
                    epochs=epochs,
                    validation_data = generate_batch(X_test, y_test, batch_size = batch_size),
                    validation_steps = val_samples//batch_size)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  """

Epoch 1/50
60/60 [==============================] - 31s 377ms/step - loss: 2.8228 - accuracy: 0.1304 - val_loss: 2.3608 - val_accuracy: 0.1491
Epoch 2/50
60/60 [==============================] - 21s 341ms/step - loss: 2.2731 - accuracy: 0.1550 - val_loss: 2.2989 - val_accuracy: 0.1652
Epoch 3/50
60/60 [==============================] - 24s 399ms/step - loss: 2.1878 - accuracy: 0.1732 - val_loss: 2.2280 - val_accuracy: 0.1852
Epoch 4/50
60/60 [==============================] - 19s 321ms/step - loss: 2.0512 - accuracy: 0.2066 - val_loss: 2.1677 - val_accuracy: 0.2093
Epoch 5/50
60/60 [==============================] - 19s 322ms/step - loss: 1.9494 - accuracy: 0.2302 - val_loss: 2.1124 - val_accuracy: 0.2314
Epoch 6/50
60/60 [==============================] - 19s 321ms/step - loss: 1.8509 - accuracy: 0.2529 - val_loss: 2.0655 - val_accuracy: 0.2480
Epoch 7/50
60/60 [==============================] - 19s 320ms/step - loss: 1.7451 - accuracy: 0.2795 - val_loss: 2.0261 - val_accuracy: 0.2646
Epoch 8/50
60/60 [==============================] - 20s 330ms/step - loss: 1.6664 - accuracy: 0.3031 - val_loss: 2.0072 - val_accuracy: 0.2716
Epoch 9/50
60/60 [==============================] - 19s 320ms/step - loss: 1.5682 - accuracy: 0.3227 - val_loss: 1.9796 - val_accuracy: 0.2831
Epoch 10/50
60/60 [==============================] - 19s 316ms/step - loss: 1.4980 - accuracy: 0.3412 - val_loss: 1.9552 - val_accuracy: 0.2937
Epoch 11/50
60/60 [==============================] - 19s 319ms/step - loss: 1.4199 - accuracy: 0.3631 - val_loss: 1.9448 - val_accuracy: 0.3007
Epoch 12/50
60/60 [==============================] - 19s 317ms/step - loss: 1.3388 - accuracy: 0.3914 - val_loss: 1.9345 - val_accuracy: 0.3138
Epoch 13/50
60/60 [==============================] - 19s 318ms/step - loss: 1.2578 - accuracy: 0.4180 - val_loss: 1.9144 - val_accuracy: 0.3283
Epoch 14/50
60/60 [==============================] - 25s 415ms/step - loss: 1.1982 - accuracy: 0.4366 - val_loss: 1.8915 - val_accuracy: 0.3454
Epoch 15/50
60/60 [==============================] - 19s 320ms/step - loss: 1.1332 - accuracy: 0.4552 - val_loss: 1.8847 - val_accuracy: 0.3524
Epoch 16/50
60/60 [==============================] - 19s 318ms/step - loss: 1.0679 - accuracy: 0.4750 - val_loss: 1.8778 - val_accuracy: 0.3559
Epoch 17/50
60/60 [==============================] - 19s 320ms/step - loss: 0.9994 - accuracy: 0.5001 - val_loss: 1.8529 - val_accuracy: 0.3745
Epoch 18/50
60/60 [==============================] - 19s 319ms/step - loss: 0.9430 - accuracy: 0.5263 - val_loss: 1.8533 - val_accuracy: 0.3740
Epoch 19/50
60/60 [==============================] - 19s 317ms/step - loss: 0.8871 - accuracy: 0.5486 - val_loss: 1.8396 - val_accuracy: 0.3820
Epoch 20/50
60/60 [==============================] - 20s 337ms/step - loss: 0.8329 - accuracy: 0.5794 - val_loss: 1.8342 - val_accuracy: 0.3855
Epoch 21/50
60/60 [==============================] - 19s 321ms/step - loss: 0.7667 - accuracy: 0.6066 - val_loss: 1.8285 - val_accuracy: 0.4056
Epoch 22/50
60/60 [==============================] - 19s 317ms/step - loss: 0.7165 - accuracy: 0.6403 - val_loss: 1.8273 - val_accuracy: 0.4132
Epoch 23/50
60/60 [==============================] - 19s 318ms/step - loss: 0.6651 - accuracy: 0.6632 - val_loss: 1.8182 - val_accuracy: 0.4242
Epoch 24/50
60/60 [==============================] - 19s 317ms/step - loss: 0.6155 - accuracy: 0.6896 - val_loss: 1.8206 - val_accuracy: 0.4232
Epoch 25/50
60/60 [==============================] - 19s 315ms/step - loss: 0.5689 - accuracy: 0.7182 - val_loss: 1.8096 - val_accuracy: 0.4372
Epoch 26/50
60/60 [==============================] - 19s 317ms/step - loss: 0.5194 - accuracy: 0.7420 - val_loss: 1.8033 - val_accuracy: 0.4322
Epoch 27/50
60/60 [==============================] - 19s 317ms/step - loss: 0.4829 - accuracy: 0.7632 - val_loss: 1.7976 - val_accuracy: 0.4443
Epoch 28/50
60/60 [==============================] - 19s 315ms/step - loss: 0.4510 - accuracy: 0.7763 - val_loss: 1.7969 - val_accuracy: 0.4503
Epoch 29/50
60/60 [==============================] - 19s 318ms/step - loss: 0.4111 - accuracy: 0.7987 - val_loss: 1.8040 - val_accuracy: 0.4563
Epoch 30/50
60/60 [==============================] - 19s 318ms/step - loss: 0.3735 - accuracy: 0.8235 - val_loss: 1.8143 - val_accuracy: 0.4603
Epoch 31/50
60/60 [==============================] - 19s 318ms/step - loss: 0.3392 - accuracy: 0.8425 - val_loss: 1.8081 - val_accuracy: 0.4694
Epoch 32/50
60/60 [==============================] - 19s 317ms/step - loss: 0.3077 - accuracy: 0.8600 - val_loss: 1.8005 - val_accuracy: 0.4739
Epoch 33/50
60/60 [==============================] - 19s 319ms/step - loss: 0.2864 - accuracy: 0.8743 - val_loss: 1.8080 - val_accuracy: 0.4714
Epoch 34/50
60/60 [==============================] - 19s 317ms/step - loss: 0.2623 - accuracy: 0.8870 - val_loss: 1.8100 - val_accuracy: 0.4729
Epoch 35/50
60/60 [==============================] - 19s 319ms/step - loss: 0.2402 - accuracy: 0.9023 - val_loss: 1.8424 - val_accuracy: 0.4774
Epoch 36/50
60/60 [==============================] - 19s 316ms/step - loss: 0.2214 - accuracy: 0.9102 - val_loss: 1.8564 - val_accuracy: 0.4744
Epoch 37/50
60/60 [==============================] - 19s 320ms/step - loss: 0.2062 - accuracy: 0.9202 - val_loss: 1.8649 - val_accuracy: 0.4739
Epoch 38/50
60/60 [==============================] - 19s 317ms/step - loss: 0.1917 - accuracy: 0.9299 - val_loss: 1.8480 - val_accuracy: 0.4784
Epoch 39/50
60/60 [==============================] - 19s 318ms/step - loss: 0.1757 - accuracy: 0.9354 - val_loss: 1.8350 - val_accuracy: 0.4804
Epoch 40/50
60/60 [==============================] - 19s 318ms/step - loss: 0.1662 - accuracy: 0.9379 - val_loss: 1.8350 - val_accuracy: 0.4874
Epoch 41/50
60/60 [==============================] - 19s 318ms/step - loss: 0.1598 - accuracy: 0.9417 - val_loss: 1.8603 - val_accuracy: 0.4854
Epoch 42/50
60/60 [==============================] - 19s 320ms/step - loss: 0.1455 - accuracy: 0.9492 - val_loss: 1.9025 - val_accuracy: 0.4754
Epoch 43/50
60/60 [==============================] - 19s 320ms/step - loss: 0.1355 - accuracy: 0.9530 - val_loss: 1.8721 - val_accuracy: 0.4844
Epoch 44/50
60/60 [==============================] - 19s 319ms/step - loss: 0.1214 - accuracy: 0.9614 - val_loss: 1.8697 - val_accuracy: 0.4859
Epoch 45/50
60/60 [==============================] - 19s 321ms/step - loss: 0.1084 - accuracy: 0.9672 - val_loss: 1.8804 - val_accuracy: 0.4834
Epoch 46/50
60/60 [==============================] - 19s 321ms/step - loss: 0.0979 - accuracy: 0.9728 - val_loss: 1.8823 - val_accuracy: 0.4890
Epoch 47/50
60/60 [==============================] - 19s 318ms/step - loss: 0.0876 - accuracy: 0.9755 - val_loss: 1.8901 - val_accuracy: 0.4869
Epoch 48/50
60/60 [==============================] - 19s 318ms/step - loss: 0.0807 - accuracy: 0.9782 - val_loss: 1.8968 - val_accuracy: 0.4864
Epoch 49/50
60/60 [==============================] - 19s 320ms/step - loss: 0.0751 - accuracy: 0.9802 - val_loss: 1.9000 - val_accuracy: 0.4874
Epoch 50/50
60/60 [==============================] - 19s 318ms/step - loss: 0.0693 - accuracy: 0.9824 - val_loss: 1.9065 - val_accuracy: 0.4874

In [129]:
model.save_weights('nmt_weights.h5')

In [130]:
encoder_model = Model(encoder_inputs, encoder_states)
decoder_state_input_h = Input(shape=(latent_dim,))
decoder_state_input_c = Input(shape=(latent_dim,))
decoder_states_inputs = [decoder_state_input_h, decoder_state_input_c]
dec_emb2= dec_emb_layer(decoder_inputs) 
decoder_outputs2, state_h2, state_c2 = decoder_lstm(dec_emb2, initial_state=decoder_states_inputs)
decoder_states2 = [state_h2, state_c2]
decoder_outputs2 = decoder_dense(decoder_outputs2) 
decoder_model = Model(
    [decoder_inputs] + decoder_states_inputs,
    [decoder_outputs2] + decoder_states2)

In [131]:
def decode_sequence(input_seq):
    states_value = encoder_model.predict(input_seq)
    target_seq = np.zeros((1,1))
    target_seq[0, 0] = target_token_index['START_']
    stop_condition = False
    decoded_sentence = ''
    while not stop_condition:
        output_tokens, h, c = decoder_model.predict([target_seq] + states_value)
        sampled_token_index = np.argmax(output_tokens[0, -1, :])
        sampled_char = reverse_target_char_index[sampled_token_index]
        decoded_sentence += ' '+sampled_char
        if (sampled_char == '_END' or
           len(decoded_sentence) > 50):
            stop_condition = True
        target_seq = np.zeros((1,1))
        target_seq[0, 0] = sampled_token_index
        states_value = [h, c]
    return decoded_sentence

In [132]:
train_gen = generate_batch(X_train, y_train, batch_size = 1)
k=-1

In [136]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Indonesian sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])

Input Indonesian sentence: susunan komite remunerasi dan nominasi pada tanggal desember dan adalah sebagai berikut
Actual Indonesian Translation:  the composition of the remuneration and nomination committee as of of december and are as follows
Predicted English Translation:  the composition of the remuneration and nomina

In [138]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Indonesian sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])

Input Indonesian sentence: bersih
Actual English Translation:  fee and commission incomenet
Predicted English Translation:  fee and commission incomenet

In [139]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Indonesian sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])

Input Indonesian sentence: b dasar penyusunan laporan keuangan konsolidasian lanjutan
Actual English Translation:  b basis for preparation of the consolidated financial statements continued
Predicted English Translation:  b basis for preparation of the consolidated finan

In [140]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Indonesian sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])

Input Indonesian sentence: b pertimbangan akuntansi yang penting dalam menerapkan kebijakan akuntansi perseroan
Actual English Translation:  b critical accounting judgments in applying the companys accounting policies
Predicted English Translation:  b critical accounting judgments in applying the comp

In [141]:
#MarianMT Model

In [41]:
!pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.17.0.dev0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: tokenizers!=0.11.3,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.11.4)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.2)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.47)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.10.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)

In [42]:
!pip install git+https://github.com/huggingface/transformers

Collecting git+https://github.com/huggingface/transformers
  Cloning https://github.com/huggingface/transformers to /tmp/pip-req-build-mfqi1jg5
  Running command git clone -q https://github.com/huggingface/transformers /tmp/pip-req-build-mfqi1jg5
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: tokenizers!=0.11.3,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (0.11.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (2.23.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (2019.12.20)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (6.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (0.4.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (4.62.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (3.4.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (21.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (1.19.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (4.10.1)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers==4.17.0.dev0) (0.0.47)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers==4.17.0.dev0) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers==4.17.0.dev0) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers==4.17.0.dev0) (3.7.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==4.17.0.dev0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==4.17.0.dev0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==4.17.0.dev0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==4.17.0.dev0) (1.24.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==4.17.0.dev0) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==4.17.0.dev0) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==4.17.0.dev0) (1.1.0)

In [43]:
import nltk
import pandas as pd
import re
from nltk.tokenize import sent_tokenize
from transformers import MarianMTModel, MarianTokenizer

In [44]:
raw = pd.read_csv("id_nta.txt", sep='\t')

In [45]:
raw

                                                1. UMUM
0                  a. Pendirian Bank dan informasi umum
1     PT Bank Pembangunan Daerah Jawa Timur Tbk ('Ba...
2     Peraturan Pemerintah Daerah tersebut disahkan ...
3     Perubahan status bentuk hukum tersebut sesuai ...
4                                    1. UMUM (lanjutan)
...                                                 ...
4259  1.a. Pendirian dan Informasi Umum PT Bumi Reso...
4260  Perubahan terakhir Anggaran Dasar Perusahaan a...
4261  Perubahan terakhir Anggaran Dasar terkait deng...
4262  Sesuai dengan Anggaran Dasar Perusahaan, ruang...
4263  Entitas Induk langsung Perusahaan adalah Long ...

[4264 rows x 1 columns]

In [46]:
raw.columns = ["Text"]

In [47]:
raw

                                                   Text
0                  a. Pendirian Bank dan informasi umum
1     PT Bank Pembangunan Daerah Jawa Timur Tbk ('Ba...
2     Peraturan Pemerintah Daerah tersebut disahkan ...
3     Perubahan status bentuk hukum tersebut sesuai ...
4                                    1. UMUM (lanjutan)
...                                                 ...
4259  1.a. Pendirian dan Informasi Umum PT Bumi Reso...
4260  Perubahan terakhir Anggaran Dasar Perusahaan a...
4261  Perubahan terakhir Anggaran Dasar terkait deng...
4262  Sesuai dengan Anggaran Dasar Perusahaan, ruang...
4263  Entitas Induk langsung Perusahaan adalah Long ...

[4264 rows x 1 columns]

In [48]:
len(raw)

4264

In [49]:
raw["Text"][0]

'a. Pendirian Bank dan informasi umum'

In [60]:
t = []
for i in range(len(raw)):
  if len(raw["Text"][i]) <= 256:
    t.append(raw["Text"][i])

In [61]:
df = pd.DataFrame(t, columns =['Text'])

In [62]:
df

                                                   Text
0                  a. Pendirian Bank dan informasi umum
1                                    1. UMUM (lanjutan)
2       a. Pendirian Bank dan informasi umum (lanjutan)
3     Entitas induk terakhir dari Bank adalah Pemeri...
4     Bank memperoleh ijin untuk beroperasi sebagai ...
...                                                 ...
3191  38. TANGGUNG JAWAB MANAJEMEN DAN PERSETUJUAN A...
3192  Penyusunan dan penyajian wajar laporan keuanga...
3193                                            1. UMUM
3194  Perubahan terakhir Anggaran Dasar terkait deng...
3195  Entitas Induk langsung Perusahaan adalah Long ...

[3196 rows x 1 columns]

In [63]:
type(df)

pandas.core.frame.DataFrame

In [64]:
df["Language"] = 'Indonesian'

In [65]:
df

                                                   Text    Language
0                  a. Pendirian Bank dan informasi umum  Indonesian
1                                    1. UMUM (lanjutan)  Indonesian
2       a. Pendirian Bank dan informasi umum (lanjutan)  Indonesian
3     Entitas induk terakhir dari Bank adalah Pemeri...  Indonesian
4     Bank memperoleh ijin untuk beroperasi sebagai ...  Indonesian
...                                                 ...         ...
3191  38. TANGGUNG JAWAB MANAJEMEN DAN PERSETUJUAN A...  Indonesian
3192  Penyusunan dan penyajian wajar laporan keuanga...  Indonesian
3193                                            1. UMUM  Indonesian
3194  Perubahan terakhir Anggaran Dasar terkait deng...  Indonesian
3195  Entitas Induk langsung Perusahaan adalah Long ...  Indonesian

[3196 rows x 2 columns]

In [66]:
def clean_text(text):
    text = re.sub(r"\n", " ", text)
    text = re.sub(r"\n\n", " ", text)
    text = text.strip(" ")
    text = re.sub(' +',' ', text).strip()
    return text

In [67]:
def translator(text):
  input_ids = tokenizer.encode(text, return_tensors="pt", padding=True)
  outputs = model.generate(input_ids)
  decoded_text = tokenizer.decode(outputs[0], skip_special_tokens=True)
  return decoded_text

In [68]:
!pip install sentencepiece

Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (0.1.96)

In [69]:
model = MarianMTModel.from_pretrained("Helsinki-NLP/opus-mt-id-en")
tokenizer = MarianTokenizer.from_pretrained("Helsinki-NLP/opus-mt-id-en")

In [70]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [71]:
df["Clean_Text"] = df['Text'].map(lambda text: clean_text(text))

In [72]:
df

                                                   Text  ...                                         Clean_Text
0                  a. Pendirian Bank dan informasi umum  ...               a. Pendirian Bank dan informasi umum
1                                    1. UMUM (lanjutan)  ...                                 1. UMUM (lanjutan)
2       a. Pendirian Bank dan informasi umum (lanjutan)  ...    a. Pendirian Bank dan informasi umum (lanjutan)
3     Entitas induk terakhir dari Bank adalah Pemeri...  ...  Entitas induk terakhir dari Bank adalah Pemeri...
4     Bank memperoleh ijin untuk beroperasi sebagai ...  ...  Bank memperoleh ijin untuk beroperasi sebagai ...
...                                                 ...  ...                                                ...
3191  38. TANGGUNG JAWAB MANAJEMEN DAN PERSETUJUAN A...  ...  38. TANGGUNG JAWAB MANAJEMEN DAN PERSETUJUAN A...
3192  Penyusunan dan penyajian wajar laporan keuanga...  ...  Penyusunan dan penyajian wajar laporan keuanga...
3193                                            1. UMUM  ...                                            1. UMUM
3194  Perubahan terakhir Anggaran Dasar terkait deng...  ...  Perubahan terakhir Anggaran Dasar terkait deng...
3195  Entitas Induk langsung Perusahaan adalah Long ...  ...  Entitas Induk langsung Perusahaan adalah Long ...

[3196 rows x 3 columns]

In [73]:
df

                                                   Text  ...                                         Clean_Text
0                  a. Pendirian Bank dan informasi umum  ...               a. Pendirian Bank dan informasi umum
1                                    1. UMUM (lanjutan)  ...                                 1. UMUM (lanjutan)
2       a. Pendirian Bank dan informasi umum (lanjutan)  ...    a. Pendirian Bank dan informasi umum (lanjutan)
3     Entitas induk terakhir dari Bank adalah Pemeri...  ...  Entitas induk terakhir dari Bank adalah Pemeri...
4     Bank memperoleh ijin untuk beroperasi sebagai ...  ...  Bank memperoleh ijin untuk beroperasi sebagai ...
...                                                 ...  ...                                                ...
3191  38. TANGGUNG JAWAB MANAJEMEN DAN PERSETUJUAN A...  ...  38. TANGGUNG JAWAB MANAJEMEN DAN PERSETUJUAN A...
3192  Penyusunan dan penyajian wajar laporan keuanga...  ...  Penyusunan dan penyajian wajar laporan keuanga...
3193                                            1. UMUM  ...                                            1. UMUM
3194  Perubahan terakhir Anggaran Dasar terkait deng...  ...  Perubahan terakhir Anggaran Dasar terkait deng...
3195  Entitas Induk langsung Perusahaan adalah Long ...  ...  Entitas Induk langsung Perusahaan adalah Long ...

[3196 rows x 3 columns]

In [74]:
df['Machine_Translation'] = df["Clean_Text"].map(lambda x: translator(x)).copy()

In [75]:
cols = ["Text", "Machine_Translation"]

In [76]:
df

                                                   Text  ...                                Machine_Translation
0                  a. Pendirian Bank dan informasi umum  ...      a. Bank establishment and general information
1                                    1. UMUM (lanjutan)  ...                              1. COMMON (Continues)
2       a. Pendirian Bank dan informasi umum (lanjutan)  ...  a. Bank establishment and general information ...
3     Entitas induk terakhir dari Bank adalah Pemeri...  ...  The last parent entity of the Bank is the East...
4     Bank memperoleh ijin untuk beroperasi sebagai ...  ...  The bank obtained permission to operate as a d...
...                                                 ...  ...                                                ...
3191  38. TANGGUNG JAWAB MANAJEMEN DAN PERSETUJUAN A...  ...  38. &amp;&gt;&lt;/i&gt; &lt;i&gt;&lt;/i&gt; &l...
3192  Penyusunan dan penyajian wajar laporan keuanga...  ...  The natural drafting and presentation of the f...
3193                                            1. UMUM  ...                                          1. COMMON
3194  Perubahan terakhir Anggaran Dasar terkait deng...  ...  The last change in basic budgets related to th...
3195  Entitas Induk langsung Perusahaan adalah Long ...  ...  The company's direct parent entity is Long Hau...

[3196 rows x 4 columns]